
@{
    ViewBag.Title = "Manager Help Page";
}
<h2>Manager Help Page</h2>
<h3>This page should be accessible to all.</h3>
<h4>Current User: @HttpContext.Current.User.Identity.Name</h4>
<br />
Back to site @Html.ActionLink("home page", "Index", "Home")
